<form 
  class="newsletter-form" 
  action="https://tinyletter.com/estevanmaito" 
  method="post" 
  target="popupwindow" 
  onsubmit="window.open('https://tinyletter.com/estevanmaito', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
  <p class="newsletter-form__description">
    Eu envio <strong>UM</strong> e-mail por mês com meus últimos posts, vídeos, cupons para cursos e livros além de novidades sobre tecnologias web. Insira seu e-mail abaixo para receber também.
  </p>
  <p>
    <input type="text" name="email" id="tlemail" class="newsletter-form__input" placeholder="ex: seuemail@gmail.com" />
  </p>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Receber" class="newsletter-form__button" />
</form>
        